In [2]:
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import QuantileTransformer

from whatlies.language import BytePairLanguage, UniversalSentenceLanguage

2022-05-06 15:15:40.060097: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-05-06 15:15:40.060120: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [3]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 200)

df = pd.read_csv("data/annotations.csv")[['text', 'excitement']].drop_duplicates()

In [4]:
%%time 

model_cv = make_pipeline(CountVectorizer(), LogisticRegression(max_iter=1000))
model_cv.fit(list(df['text']), df['excitement'])

CPU times: user 9.85 s, sys: 27.8 s, total: 37.6 s
Wall time: 3.67 s

Pipeline(steps=[('countvectorizer', CountVectorizer()),
                ('logisticregression', LogisticRegression(max_iter=1000))])

In [5]:
%%time

model_bp = make_pipeline(BytePairLanguage("en"), QuantileTransformer(), LogisticRegression(max_iter=1000))
model_bp.fit(list(df['text']), df['excitement'])

CPU times: user 21 s, sys: 11.9 s, total: 32.9 s
Wall time: 9.02 s

Pipeline(steps=[('bytepairlanguage', BytePairLanguage(lang='en')),
                ('quantiletransformer', QuantileTransformer()),
                ('logisticregression', LogisticRegression(max_iter=1000))])

In [6]:
%%time

model_use = make_pipeline(UniversalSentenceLanguage(), QuantileTransformer(), LogisticRegression(max_iter=1000))
model_use.fit(list(df['text']), df['excitement'])

2022-05-06 15:15:54.354018: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2022-05-06 15:15:54.354187: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-05-06 15:15:54.354196: W tensorflow/stream_executor/cuda/cuda_driver.cc:326] failed call to cuInit: UNKNOWN ERROR (303)
2022-05-06 15:15:54.354211: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (pop-os): /proc/driver/nvidia/version does not exist
2022-05-06 15:15:54.354347: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-05-06 15:15:54.354941: I tensorflow/compiler/jit/xla_gpu_device.cc:99] Not creating XLA devices, tf_xla_enable_xla_devices not set
2022-05-06 15:15:56.359635: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)
2022-05-06 15:15:56.580300: I tensorflow/core/platform/profile_utils/cpu_utils.cc:112] CPU Frequency: 1599960000 Hz

CPU times: user 5min 12s, sys: 54.7 s, total: 6min 7s
Wall time: 1min 31s

Pipeline(steps=[('tfhublanguage',
                 TFHubLanguage(url='https://tfhub.dev/google/universal-sentence-encoder/4')),
                ('quantiletransformer', QuantileTransformer()),
                ('logisticregression', LogisticRegression(max_iter=1000))])

In [7]:
import pandas as pd
from doubtlab.ensemble import DoubtEnsemble
from doubtlab.reason import ProbaReason, ShortConfidenceReason, LongConfidenceReason, DisagreeReason

y = df['excitement']

# Calc the predictions
pred_cv = model_cv.predict(list(df['text']))
pred_bp = model_bp.predict(list(df['text']))
pred_use = model_use.predict(list(df['text']))

# Calc the confidence values
proba_cv = model_cv.predict_proba(list(df['text']))
proba_bp = model_bp.predict_proba(list(df['text']))
proba_use = model_use.predict_proba(list(df['text']))

In [13]:
df_predicate = pd.DataFrame(dict(
    proba_cv=ProbaReason.from_proba(proba_cv),
    proba_bp=ProbaReason.from_proba(proba_bp),
    proba_use=ProbaReason.from_proba(proba_use),
    short_cv=ShortConfidenceReason.from_proba(proba_cv, y, classes=model_cv.classes_, threshold=0.2),
    short_bp=ShortConfidenceReason.from_proba(proba_bp, y, classes=model_bp.classes_, threshold=0.2),
    short_use=ShortConfidenceReason.from_proba(proba_use, y, classes=model_use.classes_, threshold=0.2),
    long_cv=ShortConfidenceReason.from_proba(proba_cv, y, classes=model_cv.classes_, threshold=0.6),
    long_bp=ShortConfidenceReason.from_proba(proba_bp, y, classes=model_bp.classes_, threshold=0.6),
    long_use=ShortConfidenceReason.from_proba(proba_use, y, classes=model_use.classes_, threshold=0.6),
    disagree_bp=DisagreeReason.from_pred(pred_cv, pred_bp),
    disagree_use=DisagreeReason.from_pred(pred_cv, pred_use)
))

In [16]:
df_predicate.sort_values("long_cv", ascending=False).head(5)

,proba_cv,proba_bp,proba_use,short_cv,short_bp,short_use,long_cv,long_bp,long_use,disagree_bp,disagree_use
61931,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
28038,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
28013,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
28014,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
42314,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
21008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
from collections import Counter

summary = df_predicate.sum(axis=1).value_counts().reset_index().sort_values("index")
summary.columns = ["overlap", "count"]
summary

   overlap  count
0      0.0  56555
4      1.0    388
6      2.0    276
5      3.0    337
3      4.0    798
1      5.0   1786
2      6.0   1699
7      7.0     64
8      8.0     29

In [28]:
idx = df_predicate.loc[(df_predicate.sum(axis=1) >= 4)].index
df_check = df.iloc[idx]
df_check.to_json("doubt.jsonl", orient="records", lines=True)

In [72]:
df_orig = pd.read_csv("data/annotations.csv")

In [91]:
df_orig.loc[lambda d: d['text'].isin(df_check['text'])].head(20)

,text,id,rater_id,example_very_unclear,excitement
461,Reading this made me pretty damn happy. Congrats hope it works out for you two.,eeqn6py,46,False,0
769,"[NAME] would be an exciting guy to bring here. I think he'd at some help at RB, especially if [NAME] ain't interested",efdy564,81,False,1
4074,Oh mate! Happy days. haha. Yeah I totally thought you were starting a course of Radiotherapy haha. All good,ee39hkt,24,False,0
5021,Woo hoo!!! Free at last!,ef1bvtq,78,False,1
5735,"‚ÄúOh hey, I think a second ago [NAME] just put a move on [NAME]! Oh boy I wonder how that was.‚Äù",edm0c9b,40,False,0
5797,Let's get things back on track! Happy new year!,eczc44a,5,False,1
6421,"This feels more like ""Lofi Rock"" if that exists, or even Jazz. Very interesting.",ed4l5sx,76,False,0
6965,That would be crazy premature. But would be awesome later when results are out and the stories behind the scenes of the [NAME] team emerges.,ef3oy07,51,False,1
7224,"Woah, woah, woah. You're trying to tell me that elites have a stranglehold in a country with an *actual* aristocracy?!",edfxx6i,21,False,0
8780,Yay!!! Finally the fix we're all looking for after hours of endless scrolling.,edwiv4a,62,False,1
9691,Happy new year /r/newyorkmets. Everyone in this community makes this place feel seriously special. Let's go win a world series in 2019.,ed01btv,62,False,0
9726,Let's get things back on track! Happy new year!,eczc44a,39,False,0
9948,"I‚Äôm excited to see [NAME] come in here. I hope he plays some more quality, aggressive minutes",eetah0o,4,False,1
10711,"yeah but like I‚Äôm highkey anxious about getting shocked and screw Apple for getting rid of the rainbow logo, it was so cool",edjg01v,79,False,1
11253,"Fam, I fucking love [NAME] play. Gotta be the most exciting dude in the league other than [NAME] when he‚Äôs hitting everything from 30ft+",ef2ed3k,2,False,1
11820,Keep going sgtsoyboy... we are turning the corner this year and I will personally enjoy bashing another Superbowl-less season for the qweefs this offseason.,edyl67i,6,False,0
12733,"Let's wait for January patch, and hope that your problems will be resolved soon. I have too much fun in this game right now :)",edmzd8w,3,False,0
14813,Reading this made me pretty damn happy. Congrats hope it works out for you two.,eeqn6py,24,False,0
14896,Wow this is pretty interesting. We should have a thread about what's it like to grow up in a polygamous household,ef4e4oo,70,False,1
15468,Happy Cake Day Baby!!!‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è,eez78sa,61,False,0

In [76]:
ml_texts = df_check['text']

disagree_texts = (df_orig
 .groupby("text")
 .agg(unclear=("example_very_unclear", "sum"), 
      label=("excitement","sum"))
 .loc[lambda d: (d['unclear'] != 0) | (d['label'].isin([1, 2]))]
 .reset_index()['text'])

In [82]:
print(f"# disagreements set {ml_texts.shape[0]}")
print(f"# ml set {disagree_texts.shape[0]}\n")
print(f"# disagreements also in ml set {disagree_texts.isin(ml_texts).sum()}")
print(f"# ml also in disagreement set {(~ml_texts.isin(disagree_texts)).sum()}")

# disagreements set 5377
# ml set 6706

# disagreements also in ml set 4130
# ml also in disagreement set 554

In [75]:
df_disagree

,text,unclear,label
0,">it'll get invaded by tankie, unfortunately. How apropos.",1,0
1,">sexuality shouldn‚Äôt be a grouping category It makes you different from othet ppl so imo it fits the definition of ""grouping""",2,0
2,Everybody clap your hands üëèüëèüëèüëèüëèüëèüëèüëè Sliiiide to the left. üï∫,2,0
3,"I don‚Äôt give a F F the haters F all the haters Much love, no hate Machines within, machines within",2,0
4,Lol! ‚ôø‚ôø‚ôø &#x200B;,1,0
...,...,...,...
6701,üòò ‚òÇ ‚òÇÔ∏è‚òÇÔ∏è,2,0
6702,üòµ when üò§ mommy ü§® gets üëÄ the ü§î üÖ±Ô∏èendies üò´ just üî•üî•üî• right üëå,1,0
6703,ü§£ wow... I read it all in a serious tone until the end! ü§£,0,2
6704,"ü§£ yes... sure. Let me talk to a teenage Q believer, listening to [NAME] who doesent even know what projection is... next",1,0
6705,üßÄ <‚Äî‚ÄîThe best gold for you! üôå,2,0

It seems like we have 55 candidates that were "suspicious" that did not pop up in the labeller disagreement set.

In [65]:
df_check[(~texts.isin(df_disagree['text']))]

,text,excitement
638,LHW is such a barren shithole that I‚Äôd be more excited for this than anyone at 205 getting a shot,1
1921,"Ohhhh, that makes sense. Cheers mate",1
4006,Excited for season 3 too. Winter is getting too cold,1
5797,Let's get things back on track! Happy new year!,1
6294,I'll have a look and see if I can find it. Cheers for the info!,1
7020,I'm pretty excited to see how [NAME] develops. Appears that he could be a decent enough player in the future.,1
9025,Happy Birthday! ‚ú®,0
9948,"I‚Äôm excited to see [NAME] come in here. I hope he plays some more quality, aggressive minutes",1
11253,"Fam, I fucking love [NAME] play. Gotta be the most exciting dude in the league other than [NAME] when he‚Äôs hitting everything from 30ft+",1
12824,"I did, I did!!!! Now I feel special",1
13646,"I'm most excited, honestly, for the new batches of eastern coral antivenom.",1
13949,üòÇ I get excited when I see a profile OLD for a state employee.,1
14442,"Bipolar symptoms tend to be very fun and exciting, but they can also be very bad and harmful. She should get some help.",1
15049,But he seemed really enthusiastic! And he was wearing really expensive boots!,1
15468,Happy Cake Day Baby!!!‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è,0
16939,mans got me excited,1
17968,Plus the idea of a choose your own adventure movie is absolutely exciting and brings more chances to go back through,1
18796,Im pretty sure the 2nd song is about him too. Cant wait to get that on the PA along with the disco lights,1
20771,Yaaaaaas! I need your curly hair routine!,1
21562,I literally have more friends on HOTS than WOW. Wow is deader than hots.,1
22818,Oh my [NAME]. Yesssss.,1
23288,I get excited reading headlines like this.....all the way until the end where it's always in a country NOT my own.,1
27603,Thanks! I'm now quite excited. Unless of course they all decide to skip straight from Chatswood to Gordon.,1
28369,the excitement when they all first come in always makes me happy,1
31699,Happy birthday üéÇ!!,1
31701,"I mean I've never seen, even on this show, people grab so many cookies and chips with such excitement.",1
32409,And the healthy snacks are on their way!,1
37364,"Are you located in Wellington? Just interested to see where garage project is available in New Zealand, because i've heard its limited...",1
38059,Did I just get called [NAME]? Achievement Unlocked!,1
41245,That and losing [NAME]. The two of them had instant chemistry. Excited to see is he can become a big part of our offense next year.,1
48616,I loved the reaction the cast of BP gave when they announced Spider Verse won. They couldn‚Äôt contain their excitement,1
52498,Damnit. Have a big trip planned for the first week of February. Can't wait to get to the airport 5 hours early.,1
55263,"I, personally, am excited to have another agent to make the lab numbers look pretty while the patient dies.",1
60128,Woah! 4 new maps in a year! That‚Äôs so lucky!! Not like we got 10+ maps in 2017 for bf1..,1
60965,Oh wow I love this!,0
62940,Yeah would be exciting!,1
63136,I‚Äôm super excited and waiting for the FOV slider to put on the live server.,1
64070,That sounds really interesting.,1
68551,> Inflatable M'lady Guys I found my new flair,1
69374,I cant stop seeing SS VS BM,1
73468,Thanks for sharing your thought. You have a fair and reasonable perspective. Happy New Year!,1
74662,I know many bf who would be excited for that,1
76392,Happy Birthday!!!,0
80043,"A surprise to be sure, but a welcome one.",1
80226,"Happy Cake Day Ph_Dank! Today is your day. Dance with fairies, ride a unicorn, swim with mermaids, and chase rainbows.",1
83020,My wife really likes Deja but hasn‚Äôt listened to TDAGARIM. I‚Äôm so excited for when she hears it for the first time.,1
86120,"Yay, congratulations! :D",0
93829,"CANADA! HOW ARE YA, NOW?",1
95512,Super excited to watch them in Syracuse next year. Might actually spring for season tickets,1
98166,Wow can relationships be like this? That's amazing,0
109289,Okay this is really promising stuff. I'm definitely excited for this.,1
113755,Excited to see this kid in red and black some day,1
115572,Excited for you guys to be there see you there [NAME]!,1
125941,Super excited to watch them in Syracuse next year. Might actually spring for season tickets,0
135522,Ding ding ding! We have a winner!,1

In [29]:
from prodigy.components.db import connect

db = connect()
dataset = db.get_dataset("go-emotions")

In [30]:
pd.DataFrame(dataset)[['text', 'excitement', 'answer']].groupby(['excitement', 'answer']).count()

                   text
excitement answer
0          accept     5
           ignore     2
           reject     3
1          accept    49
           ignore    10
           reject    93

<br><br><br><br><br><br><br><br><br><br><br><br>

In [58]:
df = pd.read_csv("data/annotations.csv")

df[df['text'] == "Happy Birthday!!!"]

                     text       id  rater_id  example_very_unclear  excitement
76392   Happy Birthday!!!  eed81k3        10                 False           0
171527  Happy Birthday!!!  eed81k3        73                 False           0
185904  Happy Birthday!!!  eed81k3        30                 False           0

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

In [53]:
(df
 .groupby("text")
 .agg(n_label = ("excitement", "sum"), 
      unclear=("example_very_unclear", "sum"))
 .reset_index()
 .loc[lambda d: d['text'].str.contains("Birthday")]
)

,text,n_label,unclear
11296,"Happy Birthday I hope this means anything, the little things matter sometimes.",1,0
11297,Happy Birthday [NAME]!,2,0
11298,Happy Birthday [NAME]. You wont read this message but itll be here.,1,0
11299,Happy Birthday!,2,0
11300,Happy Birthday! ‚ú®,3,0
11301,Happy Birthday!!,2,0
11302,Happy Birthday!! It was great seeing her at the Royal Rumble and SmackDown.,1,0
11303,Happy Birthday!!!,0,0
21490,I'm sorry that happened to you. You planned a awesome day that I wouldve loved celebrating with you. Happy Birthday,1,0
25553,I‚Äôm sorry. Happy Birthday! I care ‚ù§Ô∏è,0,0
46073,"Well Happy Birthday from another random stranger on the internet. I spent my birthday mostly alone too, hope your day wasn‚Äôt too bad. üíô",1,0
57712,üò¢ Happy Birthday [NAME]! She had an amazing role model growing up!,0,0

In [60]:
df[df['text'].str.contains('boop snoot')]

,text,id,rater_id,example_very_unclear,excitement
83963,OMG THOSE TINY SHOES! *desire to boop snoot intensifies*,eei8tja,41,False,0
90458,OMG THOSE TINY SHOES! *desire to boop snoot intensifies*,eei8tja,15,False,0
123640,OMG THOSE TINY SHOES! *desire to boop snoot intensifies*,eei8tja,8,False,0
141487,OMG THOSE TINY SHOES! *desire to boop snoot intensifies*,eei8tja,61,True,0
210655,OMG THOSE TINY SHOES! *desire to boop snoot intensifies*,eei8tja,16,False,0